* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: aliceblue;
}
.container {
  text-align: center;
  margin-top: 18%;
}
.container h1 {
  font-size: 6vmin;
}
.container h2 {
  font-size: 10vmin;
  padding: 20px 0;
}
.btn {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 4vmin;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: 24%;
  }
}
@media screen and (max-width: 520px) {
  .container {
    margin-top: 55%;
  }
}
